
body{
    text-align: center;
}
.container{
   
    display: flex;
    /* justify-items: center; */
    justify-content: center;
   
}

.box1{

    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2.5rem;
    

}
.red{
    background-color: #EA7317;
}
.yellow{
    background-color: #FEC601;
}
.blue{
    background-color: #2364AA;
}
.green{
    background-color: #73BFB8;
}
.flash{
    background-color: white;
}